<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="product_plugin" type="Hiberus\Curso\Plugin\Catalog\ProductPlugin" sortOrder="10" />
    </type>
    <type name="Magento\Framework\Pricing\Render\Amount">
        <plugin name="product_price_plugin" type="Hiberus\Curso\Plugin\Pricing\ProductPricePlugin" sortOrder="10" />
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authors_command" xsi:type="object">Hiberus\Curso\Console\AuthorsCommand</item>
            </argument>
        </arguments>
    </type>

</config>
