<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hiberus" sortOrder="999" translate="label">
            <label>Hiberus</label>
        </tab>
        <section id="hiberus_descripcion" showInDefault="1" sortOrder="10">
            <label>Descripcion</label>
            <tab>hiberus</tab>
            <resource>Hiberus_Curso::config</resource>
            <group id="descripcion" showInDefault="1" sortOrder="10">
                <label>Descripcion General</label>
                <field id="descripcion_general" type="text" sortOrder="10" showInDefault="1">
                    <label>Descripcion General</label>
                </field>
            </group>
            <group id="descripcion_numero" showInDefault="1" sortOrder="10">
                <label>Numero General</label>
                <validate>validate-number</validate>
                <field id="numero_general" type="text" sortOrder="10" showInDefault="1">
                    <label>Numero General</label>
                </field>
            </group>
        </section>
    </system>
</config>
