<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hiberus" sortOrder="999" translate="label">
            <label>Hiberus</label>
        </tab>
        <section id="hiberus_bitrian" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10">
            <label>Hiberus Nombre</label>
            <tab>hiberus</tab>
            <resource>Hiberus_Curso::config</resource>
            <group id="general" showInDefault="1" sortOrder="10">
                <label>General</label>
                <field id="nombre_general" type="text" sortOrder="10" showInDefault="1">
                    <label>Nombre General</label>
                </field>
            </group>
        </section>
    </system>
</config>
